
.cm .col-3{
  margin-bottom:30px;

}

.button1 {
   position: absolute !important;
  left: 27%;
  bottom: -10px;
  width: 127px !important;
  transform: translateY(-50%);
}
.flip-font{
  font-size: 18px;
  font-weight: bold;
}
.register-btn{
  color:white;
  background-color:#005b94;
  padding: 5px 7%;
  border: none;
  font-weight: 500;
  border-radius: 4px;
  text-decoration: none !important;
}


    img{
        max-width: 100%;
        max-height: 100%;
        border-top-left-radius: 6px;
    border-top-right-radius: 6px;

}
.card-body{
    background-color: white;
}

.flip-card {
  
     width: 100%;
    perspective: 1000px;
  }
  .flip-card-inner {
    height: 100%;
    border-radius: 10px;
  }
  .card-text{
    font-size: 15px;
    

  }
  .showHide{
    justify-content: flex-end;
  }
 
  // .flip-card-inner {
  //   position: relative;
  //   width: 100%;
  //   background-color:white;
  //   height: 100%;

  //   transition: transform 0.6s;
  //   transform-style: preserve-3d;
  //   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  // }
  
  // .flip-card:hover .flip-card-inner {f
  //   transform: rotateY(180deg);
  // }
  
  // .flip-card-front, .flip-card-back {
  //   position: absolute;
  //   width: 100%;
    
  
  //   -webkit-backface-visibility: hidden;
  //   backface-visibility: hidden;
  // }
  
  // .flip-card-front {
  //   // background-color: #bbb;
  //   color: black;
  // }
  
  .flip-card-back {
    background-color: #2980b9;
    padding: 10px;
    color: white;
    height: 100%;
    transform: rotateY(180deg);
  }
  @media (max-width: 1199px){
    .col-3 {
      -ms-flex: 0 0 33.33%;
      flex: 0 0 33.33%;
      max-width: 33.33%;
  }
// .flip-card{
//   height: 420px;
// }
  }

  @media (max-width: 991px){

    .col-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 20px;
    }
    
    .flip-card[_ngcontent-xkg-c4] {
    // height: 350px;
    }
    }
 



    @media (max-width: 767px){
     
      .button1 {
        left:31%;
      }

      .flip-card {
        height: 316px;
      }
    img{
      width: 100%;
    }
    .col-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
    }
    
    .flip-card[_ngcontent-xkg-c4] {
    // height: 320px;
    }
    img[_ngcontent-xkg-c4] {
    width: 100%;
    }
    }

    
    .card-title {
      // margin-bottom: 1.99rem;
  }


.detail{
  font-size: 14px;
}

