@mixin h1 {
}

@mixin b1 {
}

@mixin size12 {
  font-size: 12px;
}
@mixin size14 {
  font-size: 14px;
}
@mixin size16 {
  font-size: 16px;
}
@mixin size18 {
  font-size: 18px;
}
@mixin size20 {
  font-size: 20px;
}
@mixin size22 {
  font-size: 22px;
}
@mixin size24 {
  font-size: 24px;
}
@mixin size26 {
  font-size: 26px;
}
